body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-top: 20px;
}
.flow-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.step {
    flex: 0 0 calc(33.333% - 20px); /* 横幅を33.333%に設定し、マージンを引いて重なりがないようにする */
    margin-bottom: 20px;
    box-sizing: border-box; /* 要素の幅にパディングとボーダーを含めるため */
    padding: 10px; /* 要素の内側に余白を設定 */
    text-align: center; /* テキストを中央に配置 */
}

.step h3 {
    margin-top: 0; /* ヘッダーの上部マージンを0に設定 */
}

.step img {
    max-width: 100%;
    height: auto;
}

/* .flow-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.step {
    flex: 0 0 30%;
    margin-bottom: 20px;
}

.step img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .step {
        flex-basis: 45%;
    }
}
 */
